<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="changeCredentials" method="post">
	   <input type="text" name="oldUsername" placeholder="enter old username">
	   <input type="password" name="oldPassword" placeholder="enter old password">
	   <input type="text" name="newUsername" placeholder="enter new username">
	   <input type="password" name="newPassword" placeholder="enter new password">
	   <button>Change</button>
	</form>
</body>
</html>